{"sar_config.config":{"owner":"sns_surface_sar","decay_count":{"type":"int","ver":"0","data":"1500"},"sensitivity":{"type":"flt","ver":"0","data":"1.4"},"filter_sensitivity":{"type":"flt","ver":"0","data":"0.85"},"filter_sensitivity_upper_bound":{"type":"flt","ver":"0","data":"0.85"},"filter_sensitivity_lower_bound":{"type":"flt","ver":"0","data":"0.85"},"filter_sensitivity_delta":{"type":"flt","ver":"0","data":"0.05"},"filter_hysteresis_time_ms":{"type":"int","ver":"0","data":"0"}}}