{"sns_surface_color.config":{"owner":"sns_surface_color","golden_color_calibration_path":{"type":"str","ver":"0","data":"/vendor/etc/sensors/config/golden_color_calibration.bin"},"factory_color_calibration_path":{"type":"str","ver":"0","data":"/vendor/etc/sensors/config/factory_color_calibration.bin"},"current_color_calibration_path":{"type":"str","ver":"0","data":"/persist/sensors/registry/registry/color_calibration.bin"},"input_tdm_uid_path":{"type":"str","ver":"0","data":"/vendor/etc/sensors/config/tdm_uid.bin"},"output_tdm_uid_path":{"type":"str","ver":"0","data":"/persist/sensors/registry/registry/tdm_uid.bin"},"input_acs_multiplier_path":{"type":"str","ver":"0","data":"/vendor/etc/sensors/config/acs_multiplier.bin"},"multiplier":{"type":"flt","ver":"0","data":"1"},"multiplier_timestamp":{"type":"int","ver":"0","data":"1780413882"}}}